<%= turbo_frame_tag 'searh_people' do %>
  <div>
    <div class="px-8 py-7">
      <div class="font-bold text-xl mb-3"><%= @person.name %></div>
    </div>

    <div class="px-6 pt-4 pb-2">
      <strong class="font-sans block font-light mb-2">Kind document:</strong><%= @person.kind_document %>
    </div>

    <div class="px-6 pt-4 pb-2">
      <strong class="font-sans block font-light mb-2">Document:</strong><%= @person.document %>
    </div>

    <div class="px-6 pt-4 pb-2">
      <strong class="font-sans block font-light mb-2">Email:</strong><%= @person.email %>
    </div>

    <div class="px-6 pt-4 mb-">
      <%= link_to 'Edit this person', edit_person_path(@person), class: "font-sans rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  </div>
<% end %>
